fastapi
uvicorn[standard]
python-multipart
geopandas
shapely
pyproj
rasterio
numpy
scipy
pillow
folium
requests
websockets
segmentation-models-pytorch
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
matplotlib
